body {
		padding-top: 20px;
		padding-bottom: 20px;
		background: #fdfdfd;
		color: #383838;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}
a {
		-webkit-transition: color 0.4s ease, all 0.4s ease;
		transition: color 0.4s ease, all 0.4s ease;
		color: #000;
}
.mainnavbar {
		margin-top: -20px;
}
.nav:before {
	display: table;
	content: " ";
}

.nav:after {
	display: table;
	content: " ";
}

.viclabelline-bottom::after {
		content: "";
		width: 70px;
		height: 2px;
		background: #000;
		display: block;
}

label {
    margin-bottom: .2rem;
}

@media (min-width: 768px) {
		.mainnavbar {
				z-index: 100;
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				width: 70px;
				margin-top: 0;
				margin-bottom: 0;
				background-color: #eee;
				overflow-y: auto;
				-webkit-transform: translate3d(0, 0, 0);
		}
}
.alogo {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
		line-height: 1;
		color: #6f7890;
		text-align: center;
		border-bottom: 0;
		background-color: #1997c6;
}
@media (min-width: 768px) {
		.alogo {
				padding-top: 20px;
				padding-bottom: 20px;
		}
}
.alogo:hover {
		color: #cfd2da;
		text-decoration: none;
}
.logob {
		position: relative;
		max-width: 55px;
}
.aaj {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
		flex-wrap:unset;
}
.brs > .qp {
		float: none;
		display: inline-block;
}
@media (min-width: 768px) {
		.brs > .qp {
				display: block;
				border-bottom: 1px solid rgba(48, 52, 62, 0.23);
		}
}
.brs > .qp > .qn {
		display: block;
		position: relative;
		padding: 10px 12px;
		font-size: 30px;
		color: inherit;
		text-align: center;
		border-radius: 0;
		text-decoration: none;
}
@media (min-width: 768px) {
		.brs > .qp > .qn {
				padding: 7px;
		}
}
.brs > .qp > .qn > img {
		width: 35px;
		vertical-align: sub;
		height: 35px;
		margin: 0 auto;
}
.wc {
		border-radius: 50%;
}
.navicons:hover,
.navicons:active {
		color: #000 !important;
}
.tooltipcustomright {
		top: 0px;
		left: 0px;
		position: absolute;
		transform: translateX(70px) translateY(90px) translateZ(0px);
}
.brt {
		display: block;
		font-size: 11px;
}
@media (max-width: 767px) {
		.navdivlinkscustom {
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				white-space: nowrap;
				background-color: #f5f8fa;
		}
		.aaj {
				flex-direction: inherit !important;
		}
		.brs > .qp {
				width: 78px;
				min-width: 78px;
				border-right: 1px solid rgba(48, 52, 62, 0.23);
		}
}

.vic-active {
	background: #5a5a5a;
	color: white !important;
}

.vic-active:hover,
.vic-active:active {
	color: white !important;
}

.brs > .qp > .qn:hover {
	background: #5a5a5a;
	color: white !important;
}

.vic-active {
	background: #5a5a5a;
	color: white !important;
}

.vic-active:hover,
.vic-active:active {
	color: white !important;
}

section {
		padding: 2rem 0;
		margin-left: 85px;
}
@media (max-width: 767px) {
		section {
				margin-left: 0px;
		}
}
.container {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		padding-right: 0;
		padding-left: 0;
}
.container-left .container-right {
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
}
@media screen and (min-width: 1441px) {
		.container {
				width: 80%;
				padding-left: 0;
				padding-right: 0;
		}
		.container-left,
		.container-right {
				max-width: 80%;
		}
		.container-left {
				margin-right: 0;
				margin-left: auto;
				padding-right: 2rem;
		}
		.container-right {
				margin-left: 0;
				margin-right: auto;
				padding-left: 2rem;
		}
}
h1,
h2,
h3 {
		font-weight: bold;
}
h3 {
		margin-top: .5rem;
		margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
		h1 {
				font-size: 42px;
				margin: 1rem 0;
		}
		h1.title {
				font-size: 48px;
		}
		h2 {
				font-size: 32px;
		}
		h3 {
				font-size: 26px;
		}
}
.custompanel {
		margin-top: 2em;
		margin-bottom: 2em;
		padding: 1em 1.5em 2em;
		background: white;
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.custompanel h2 {
		margin-top: .5rem;
		margin-bottom: 1rem;
		font-weight: bold;
}

.no-m-bottom {
	margin-bottom: unset !important;
}

@media (max-width: 767px) {
		.tooltip {
				display: none !important;
		}
}
.post {
		margin-bottom: 2rem;
		z-index: 0;
		position: relative;
		width: 100%;
}
.postinfo {
		padding: 0.5em 1em;
		background: #f5f5f5;
}
.postcontent {
		padding: 0.5em 1em;
		border: 3px solid #f5f5f5;
		border-top-width: 0px;
}
.postowner {
		font-weight: bold;
}
.posttitle {
		font-weight: bold;
		font-size: 20px;
}
p {
		margin: 0;
}
.line-top::before {
		content: "";
		width: 100px;
		height: 4px;
		background: #383838;
		display: block;
}
.line-topsmall::before {
		content: "";
		width: 100px;
		height: 2px;
		background: #383838;
		display: block;
}
.line-topwhite::before {
		content: "";
		width: 100px;
		height: 0;
		background: #fff;
		display: block;
}
.maxteammembers {
		text-align: center;
}
.team {
		margin-bottom: 2rem;
		z-index: 0;
		position: relative;
}
.bgbox {
		position: relative;
}
.banner {
		background-color: #000;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		top: 0;
		width: 100%;
		min-height: 100%;
		height: auto;
}
.banner--scaled {
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
}
@media screen and (min-width: 992px) {
		.bgbox--browse .details-box {
				text-align: left;
		}
		.bgbox .details-box {
				text-align: left;
		}
		.line-topwhite::before {
				content: "";
				width: 100px;
				height: 4px;
				background: #fff;
				display: block;
		}
}
.bgbox--browse .details-box {
		padding: 2em;
		text-align: center;
}
.bgbox .details-box {
		text-align: center;
}
.details-box {
		padding: 2em 0;
}
.cl-white * {
		color: white;
}
.banner--scaled .banner {
		transform: perspective(1px) translateZ(0) scale(1.1);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
}
.banner-shade--darker {
		background: rgba(0, 0, 0, 0.65);
}
.banner-shade {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
}
.bgbox--browse a,
.bgbox--browse a > h2 {
		text-decoration: none;
}
@media screen and (min-width: 992px) {
		.bgbox--browse .details-box img.artwork {
				float: left;
				margin: 0;
				margin-right: 2em;
		}
		.details-box img.artwork {
				float: right;
				height: 256px;
				padding: 0;
				cursor: pointer;
		}
}
.bgbox--browse .details-box img.artwork {
		height: 159px;
}
.details-box img.artwork {
		text-align: center;
		max-width: 100%;
		display: block;
		margin: 1rem auto;
		padding: 0 1rem;
}
.details-box img.profile-artwork {
		border-radius: 50%;
}
@media screen and (min-width: 992px) {
		.details-box img.artwork {
				float: right;
				height: 256px;
				padding: 0;
				cursor: pointer;
		}
		.bgbox .details-box {
				text-align: left;
		}
}
.details-box {
		padding: 2em 0;
}
.details-box h1,
.details-box h2,
.details-box label,
.details-box .options {
		margin: 20px 0;
		line-height: 1;
		display: block;
}
.details-box h1 {
		font-size: 38px;
		letter-spacing: -1px;
		line-height: 1.3;
		margin: 0;
}
@media screen and (min-width: 768px) {
		.details-box h1 {
				font-size: 52px;
		}
}
.details-box h2 {
		font-size: 27px;
		font-weight: normal;
		margin-top: 0.75rem;
		font-weight: bold;
}
.details-box h2 {
		margin-top: .5rem;
		margin-bottom: 1rem;
}
.details-box h2 + label {
		margin: .65rem 0 1rem;
}
.details-box label,
.cl-white .details-box label,
.bg .cl-white .details-box label {
		color: #aaa;
		font-size: 18px;
}
.bgbox--browse label {
		display: inline-block;
		margin: .5rem 1em .5em 0;
}
button[disabled],
html input[disabled] {
		cursor: not-allowed;
}
table {
		width: 100%;
		border-collapse: collapse;
}
table.one-line th,
table.one-line td {
		padding: 0.5rem 1rem;
}
thead {
		border-bottom: 2px solid #ccc;
}
th {
		text-align: left;
		font-weight: bold;
}
th a {
		font-weight: bold;
		display: block;
		text-decoration: none;
		min-width: 60px;
		padding: 0;
		color: #000;
}
th a:hover .fa,
th.active a .fa {
		color: dodgerblue;
		opacity: 1;
}
th a .fa {
		float: right;
		color: #666;
		opacity: 0;
		position: relative;
		top: 2px;
		transition: all 0.4s ease;
}
th:active a,
th a:hover,
th a:focus {
		text-decoration: none;
		color: dodgerblue;
}
.col-xs-hidden {
		display: none;
}
@media screen and (min-width: 992px) {
		.col-md-visible {
				display: block !important;
		}
}
table td[class*=col-],
table th[class*=col-] {
		display: none;
}
tr:nth-child(odd) > td {
		background: #f5f5f5;
}
@media screen and (min-width: 992px) {
		table.one-line td {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
		}
}
td a {
		font-size: 17px;
		text-decoration: underline;
		color: #000;
		transition: all 0.4s ease;
}
td a:active,
td a:hover,
td a:focus {
		color: dodgerblue;
}
td p {
		font-size: 17px;
		color: #000;
}
.custompanel ul.usr-list {
		padding-left: 0;
}
.usr-list {
		list-style: none;
		font-size: 0;
}
.usr-list li {
		display: inline-block;
		max-width: initial;
		box-sizing: border-box;
		position: relative;
		padding: .75%;
		width: 50%;
}
@media screen and (min-width: 1200px) {
		.usr-list li {
				width: 16.666%;
		}
}
@media screen and (min-width: 768px) {
		.usr-list li {
				width: 33.3%;
		}
}
.usr-list li a {
		position: relative;
}
a.silent {
		text-decoration: none;
		color: #383838;
}
.user-list li a .image-wrapper {
		-webkit-filter: none;
		filter: none;
}
.usr-list li .image-wrapper {
		position: relative;
}
.usr-list li .image-wrapper img.preload {
		box-shadow: 0 0 0;
		position: relative;
}
.usr-list li .image-wrapper img {
		position: absolute;
		top: 0;
		left: 0;
}
.usr-list li img {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		max-width: 100%;
		cursor: pointer;
}
.usr-list li label.title {
		margin-top: 15px;
		font-weight: 800;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 1px;
}
.hover-wrapper {
		position: relative;
		bottom: 0px;
		width: 100%;
		padding: 1rem;
		color: #fff;
		background: #000;
		text-align: center;
}
.usr-list li label {
		cursor: pointer;
}
.one-line-ellipsis {
		display: inline-block;
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
}
.usr-list li label.title {
		margin-top: 0;
		margin-bottom: 0;
}
@media screen and (min-width: 992px) {
		.usr-list.user-list > li {
				width: 25%;
		}
		.usr-list li {
				width: 25%;
		}
		.user-list li a {
				position: relative;
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
		}
		.hover-wrapper {
				transition: bottom 0.4s ease;
				bottom: 0px;
				padding: 1rem;
		}
		.user-list li a:hover .hover-wrapper {
				bottom: 0px;
		}
		.usr-list.user-list > li {
				width: 25%;
		}
}
@media screen and (max-width: 992px) {
		.image-wrapper {
				overflow: hidden;
		}
}

.tooltip-inner {
		text-transform: uppercase;
		font-size: 14px;
		color: white;
		font-weight: bold;
}
.push-right > * {
		margin-right: 1rem;
}
.options > a {
		font-size: 20px;
}
.options > a > i {
		transition: all 0.4s ease;
}
.options > a > i:hover,
.options > a > i:focus {
		color: dodgerblue;
		transition: all 0.4s ease;
}
.details-box > h3 > a > u {
		color: white;
		transition: all 0.4s ease;
		text-decoration: none;
}
.details-box > h3 > a > u:hover,
.details-box > h3 > a > u:focus {
		color: dodgerblue;
		transition: all 0.4s ease;
}

.nav-tabs {
		border-bottom: 0px !important;
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.1)
}

.vic-tablink {
		display: block;
		padding: .5rem 1rem;
		border: 3px solid dodgerblue;
		border-radius: unset;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		background-color: #fff;
		text-decoration: none;
}

.vic-tablink:focus,
.vic-tablink:active,
.vic-tablink:hover {
		background-color: dodgerblue;
		color: white;
		text-decoration: none !important;
}

.vic-tablink.active {
		background-color: dodgerblue;
		color: white;
}

.vic-tablink.vic-tablink-red{
		border-color: #dc3545;
}

.vic-tablink-red.active {
	background-color: #dc3545;
}

.vic-tablink-red:focus,
.vic-tablink-red:active,
.vic-tablink-red:hover {
	background-color: #dc3545;
	color: white;
	text-decoration: none !important;
}

#teamstab > li > a {
    text-align: center;
    width: 100%;
    border-right-width: 0px;
}

#teamstab > li:nth-child(even) > a {
    border-right-width: 0px;
}

#teamstab > li:last-child > a {
    border-right: 3px solid dodgerblue;
}

.switch {
		position: absolute;
		margin-left: 6px;
		display: inline-flex;
		width: 40px;
		height: 24px;
}

.switch input {
		display: none;
}

.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
}
.slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
}
input:checked + .slider {
		background-color: #2196F3;
}
input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
		-webkit-transform: translateX(16px);
		-ms-transform: translateX(16px);
		transform: translateX(16px);
}

.slider.round {
		border-radius: 34px;
}
.slider.round:before {
		border-radius: 50%;
}

.full-width {
		width:100% !important;
}

.vicbtn-bottom{
	margin-bottom: 0.2em;
}

.vic-block {
	display: block !important;
}

.vic-bb-3-blue {
	border-bottom: 3px solid dodgerblue;
}

.vicbtn {
		display: inline-block;
		text-align: center;
		border-bottom: none;
		border-left: none;
		border-top: none;
		border-right: none;
		text-decoration: none;
		cursor: pointer;
		letter-spacing: 2px;
		white-space: nowrap;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		padding: 0.6em 0.8em 0.6em 0.8em;
		-webkit-transition: background 0.5s ease, color 0.4s ease, border-color 0.5s ease, all 0.4s ease;
		transition: background 0.5s ease, color 0.4s ease, border-color 0.5s ease, all 0.4s ease;
}

.vicbtn-blue {
		background: dodgerblue;
		color: white;
}
.vicbtn-blue:hover,
.vicbtn-blue:focus {
		text-decoration: none;
		background: #383838;
		color: white;
}

.vicbtn-yellow {
		background: #ffc107;
		color: #000;
}
.vicbtn-yellow:hover,
.vicbtn-yellow:focus {
		text-decoration: none;
		background: #383838;
		color: White;
}

.vicbtn-red {
		background: #dc3545;
		color: white;
}
.vicbtn-red:hover,
.vicbtn-red:focus {
		text-decoration: none;
		background: #383838;
		color: White;
}

.vicbtn-green {
		background: #28a745;
		color: white;
}
.vicbtn-green:hover,
.vicbtn-green:focus {
		text-decoration: none;
		background: #383838;
		color: White;
}

.victext-input {
			display: inline-block;
			font-size: 14px;
			box-shadow: 0 0 0;
			border: 0;
			border-radius: 0;
			border-bottom: 3px solid #ccc;
			background: #eee;
			padding: 0.6em 0.8em 0.6em 0.8em;
			transition: border-color .4s ease;
}

.victext-input:focus,
.victext-input:active {
		outline: none;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		border-bottom: 3px solid dodgerblue;
}

.vic-bb-3-blue {
	border-bottom: 3px solid dodgerblue;
}
.vic-bb-3-yellow {
	border-bottom: 3px solid #ffc107;
}
.vic-bb-3-red {
	border-bottom: 3px solid #dc3545;
}
.vic-bb-3-green {
	border-bottom: 3px solid #28a745;
}
.vic-bb-3-blue:hover,
.vic-bb-3-blue:focus,
.vic-bb-3-yellow:hover,
.vic-bb-3-yellow:focus,
.vic-bb-3-red:hover,
.vic-bb-3-red:focus,
.vic-bb-3-green:hover,
.vic-bb-3-green:focus {
		border-bottom: 3px solid #383838;
}

@media screen and (max-width: 768px) {
		.vicbtn,
		.victext-input {
			width: 100%;
			margin-bottom: 0.2em;
		}
		.search-width {
			width: 100%;
		}
}

.userinfobox {
		padding: 0.6em 0.8em 0.5em 0.8em;
		background-color: #eee;
		border-bottom: 3px solid #ccc;
}

.close, .close:active, .close:hover {
  color: #000;
}

.close:active, .close:hover {
  color: #000;
	cursor: pointer;
}

.setting-user-avatar {
  text-align: center;
  margin-bottom: 1em;
}

.user-avatar {
	height: 200px;
	border: 5px dashed black;
	padding: 0.6em;
	border-radius: 50%;
}

.error {
	color: red;
}

.phoneid {
	text-decoration: none;
}

.feedb-btn {
  position: fixed;
  right: 40px;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color:#1997c6;
	color: #fff;
  z-index: 9998;
  cursor: pointer;
  transform-origin: bottom;
  bottom: 40px;
  opacity: 1;
  transform: scale(1);
	-webkit-transition: background 0.5s ease, color 0.4s ease, border-color 0.5s ease, all 0.4s ease;
	transition: background 0.5s ease, color 0.4s ease, border-color 0.5s ease, all 0.4s ease;
}

.feedb-btn:hover {
	background-color: #dc3545;
}

.feedb-icon {
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#userslist .listmember	{
  background: #fff;
  line-height: 20px;
  padding: 10px 0;
  position: relative;
}

.listmember::before {
		bottom: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.listmember::after{
    background: #868e96;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 6px;
}

.memberlsgrouplead::after {
	background: #007bff;
}

.memberlsleader::after {
	background: #28a745;
}

.memberinfo {
    margin: 9px 0;
    position: relative;
    display: -webkit-flex;
    display: flex;
}

.memberinfo p, .memberinfo form {
	margin-left: 1rem
}

#memberimg {
    height: 28px;
		margin: -3px 0;
    position: relative;
    width: 67px;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.memberinfo #memberimg img {
	width:60px;
	margin-left: 6px;
}
#rankcolors {
	margin-bottom: 17px;
	display: inline-flex;
}
#rankcolors > .p-2{
	margin-right: 2px;
}

.nav-tabs .nav-item {
	width: initial;
	text-align: center;
  flex: 1;
}

.settings-width {
	width: 50%;
}

.settings-always-hidden {
  display: inline-block;
  text-align: center;
  background: dodgerblue;
  color: white;
  letter-spacing: 2px;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 0.6em 0.8em 0.6em 0.8em;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
	.settings-width {
		width: 100%;
	}
	.settings-other {
		width: 100%;
	}
	.settings-always-hidden {
		width: 100%
	}
}

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: dodgerblue;
}
.label-cbx input:checked + .checkbox svg path {
  fill: dodgerblue;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: dodgerblue;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}

.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
	padding: 0.4em 0.6em 0.4em 0.6em;
  display: inline-block;
  text-align: center;
	border: 3px solid dodgerblue;
  color: #000;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
