{% extends "base.html" %}

{% load static %}

{% block title %}
User Settings - Chaos, Genki
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/usrsettings.css' %}">
<link rel="stylesheet" href="{% static 'intl-tel-input/css/intlTelInput.css' %}">
<style media="screen">

</style>
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Settings for {{ logged_in_user.extendeduser.nickname }}.</h1>
		{% if messages %}
		<div class="alert alert-success" role="alert">
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
		</div>
		{% endif %}
		<div>
			<a href="{% url 'user' requested_user.extendeduser.pk %}" class="vicbtn vicbtn-red vicbtn-bottom"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
			<button type="button" class="vicbtn vicbtn-blue vicbtn-bottom" data-toggle="modal" data-target="#changepassword">Change Password</button>
		</div>
		<ul class="nav nav-tabs" id="usersettingsstab" role="tablist">
			<li class="nav-item">
				<a class="vic-tablink active" id="user-settings" href="{% url 'usersettings' logged_in_user.pk %}">General</a>
			</li>
			<li class="nav-item">
				<a class="vic-tablink" id="user-avatar"  href="{% url 'useravatar' logged_in_user.pk %}">Avatar</a>
			</li>
		</ul>
		<div class="row">
			<div class="col">
				<form action="{% url 'userprofileupdate' logged_in_user.pk %}" method="POST">
					{% csrf_token %}
					<div class="custompanel no-m-bottom">
						<h3>Account <button type="button" class="vicbtn vicbtn-blue float-right" data-toggle="modal" data-target="#infomodal"><i class="fa fa-info" ></i> INFO</button></h3>
						<hr style="border-color:rgba(0, 0, 0, 1);">
						<div class="form-group">
							<label class="viclabelline-bottom" for="id_username">User/Nickname</label>
							<input type="text" class="victext-input vic-block full-width" name="username" maxlength="150" required id="id_username" placeholder="Victory" value="{{ logged_in_user.username }}">
							<small id="usernameHelpBlock" class="form-text text-muted">
								150 characters or fewer. Letters, digits and @/./+/-/_ only.
							</small>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label class="viclabelline-bottom" for="id_first_name">First Name</label>
								<input type="text" class="victext-input vic-block full-width" name="first_name" maxlength="30" required id="id_first_name" placeholder="Peter" value="{{ logged_in_user.first_name }}">
							</div>
							<div class="form-group col-md-6">
								<label class="viclabelline-bottom" for="id_last_name">Last Name</label>
								<input type="text" class="victext-input vic-block full-width" name="last_name" maxlength="30" required id="id_last_name" placeholder="Petersen" value="{{ logged_in_user.last_name }}">
							</div>
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block" for="id_email">Email</label>
							<input type="email" class="victext-input settings-width" name="email" maxlength="254" required id="id_email" placeholder="Email@example.dk" value="{{ logged_in_user.email }}">
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block" for="id_birthdate">Birthdate</label>
							<input type="text" class="victext-input settings-width" placeholder="dd-mm-yyyy" name="birthdate" id="id_birthdate" value="{{ logged_in_user.extendeduser.birthdate|date:'d-m-Y' }}">
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block" for="id_phone_number">Phone number</label>
							<input type="tel" class="victext-input settings-width" name="phone_number" required id="id_phone_number" value="{{ logged_in_user.extendeduser.phone_number }}">
						</div>
						<div class="form-check">
					    <label class="form-check-label">
					      <input id="id_phone_number_show" {% if logged_in_user.extendeduser.phone_number_show == 1 %} checked {% endif %} name="phone_number_show" type="checkbox" class="form-check-input">
					      Show phone number?
					    </label>
					  </div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block" for="id_emergency_number">EMC(emergency) Phone number</label>
							<input type="tel" class="victext-input settings-width" name="emergency_number" id="id_emergency_number" value="{{ logged_in_user.extendeduser.emergency_number }}">
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block" for="id_postal_code">Postal code</label>
							<input type="number" class="victext-input settings-width" name="postal_code" maxlength="10" id="id_postal_code" placeholder="1577" value="{{ logged_in_user.extendeduser.postal_code }}">
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block">Language(s)</label>
							<select id="id_languages" name="languages" class="languages settings-width" multiple="multiple">
								{% for lang in language %}
									<option {%for userlang in logged_in_user.extendeduser.languages.all %}{%if userlang.id == lang.id %}selected{%endif%}{%endfor%} value="{{lang.id}}">{{lang.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block">Driver License(s)</label>
							<select id="id_drivers_licence" name="drivers_licence" class="drivercategories settings-width" multiple="multiple">
								{% for category in driverslicence %}
								<option {%for drilic in logged_in_user.extendeduser.drivers_licence.all %}{%if drilic.id == category.id %}selected{%endif%}{%endfor%} value="{{category.id}}">{{category.category}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block">T-Shirt size (Size chart)</label>
							<select id="id_tshirt" name="tshirt" class="victext-input settings-width">
								{% for tshi in tshirt %}
								<option {%if logged_in_user.extendeduser.tshirt.id == tshi.id %}selected{%endif%} value="{{tshi.id}}">{{tshi.description}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label class="viclabelline-bottom vic-block" for="id_specialcons">Special Considerations(Allergies and so...)</label>
							<textarea class="victext-input w-100" id="id_special_considerations" name="special_considerations" rows="3">{% autoescape on %}{{ logged_in_user.extendeduser.special_considerations}}{% endautoescape off %}</textarea>
						</div>
					</div>
					<button type="submit" class="vicbtn vicbtn-green w-100">Save</button>
				</form>
			</div>
			<div class="col">
				<div class="custompanel no-m-bottom">
					<h3>Settings</h3>
					<hr style="border-color:rgba(0, 0, 0, 1);">
					<p>Coming Soon.</p>
				</div>
				<form action="{% url 'usersociallinks' logged_in_user.pk %}" method="post">
					{% csrf_token %}
				<div class="custompanel no-m-bottom">
					<h3>Social links</h3>
					<hr style="border-color:rgba(0, 0, 0, 1);">
					<div class="form-group">
						<label class="viclabelline-bottom vic-block" for="id_facebook-link">Facebook (URL)</label>
						<input type="text" class="victext-input settings-width" name="facebook_link" maxlength="250" id="id_facebook-link" placeholder="www.facebook.com/yournamehere" value='{{logged_in_user.extendeduser.facebook_link|safe}}'>
					</div>
					<div class="form-group">
						<label class="viclabelline-bottom vic-block" for="id_twitter-link">Twitter (URL)</label>
						<input type="text" class="victext-input settings-width" name="twitter_link" maxlength="250" id="id_twitter-link" placeholder="" value='{{logged_in_user.extendeduser.twitter_link|safe}}'>
					</div>
					<div class="form-group">
						<label class="viclabelline-bottom vic-block" for="id_soundcloud-link">Soundcloud (URL)</label>
						<input type="text" class="victext-input settings-width" name="soundcloud_link" maxlength="250" id="id_soundcloud-link" placeholder="" value='{{logged_in_user.extendeduser.soundcloud_link|safe}}'>
					</div>
					<div class="form-group">
						<label class="viclabelline-bottom vic-block" for="id_youtube-link">Youtube (URL)</label>
						<input type="text" class="victext-input settings-width" name="youtube_link" maxlength="250" id="id_youtube-link" placeholder="" value='{{logged_in_user.extendeduser.youtube_link|safe}}'>
					</div>
					<p>More to come.</p>
				</div>
				<button type="submit" class="vicbtn vicbtn-green w-100">Save</button>
				</form>
			</div>
		</div>
	</div>

</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'intl-tel-input/js/intlTelInput.js' %}"></script>
<script src="{% static 'intl-tel-input/js/utils' %}"></script>
<script src="{% static 'js/application.js' %}"></script>
<script>
	$('.languages').select2();
	$('.drivercategories').select2();
</script>
{% endblock %}

{% block modals %}

<div class="modal fade" id="infomodal" tabindex="-1" role="dialog" aria-labelledby="infomodal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="custompanel">
			<div class="modal-header">
				<h5 class="modal-title" id="infoModalLabel">Info about the fields</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
				<div class="modal-body">
					<p>You are properly vondering what fields will be shown and what are hidden so we made a list.</p>
					<p>Keep in mind that in a future update you can hide everything beside your name and nick.</p>
					<br>
					<p>So Simply Who can see what</p>
					<br>
					<ul><b>
						<li><b>The Reactor</b> -> Victor The Owner of The Reactor(the people behind Genki) is the only and i mean only one who has access to see all your info.</li>
						<li><b>Medic and security</b> -> For the best reasons for our medics and security to help you most they are able to get the necessary info like EMC number and special Considerations</li>
						<li><b>Developers (Meicki And Denis)</b> - they can see the info due to they developing the platform.</li>
						<li><b>Teamleaders</b> - well they can only see the necessary info like your driver license and what languages you can.</li>
						<li><b>What about the rest</b> - Well thats up to you for now only Name, Nick, Email, Phone(if u want it to show) and social links are the only one people can see right now. (THEY WILL Need an account for that to!)</li>
					</ul>
					<p><b>Last updated: 08/03/2018</b></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="vicbtn vicbtn-blue" data-dismiss="modal">Close</button>
				</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="changepassword" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="custompanel">
			<div class="modal-header">
				<h5 class="modal-title" id="ChangePasswordModalLabel">Change password</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url 'user_change_password' requested_user.extendeduser.pk %}" method="post">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label for="id_old_password">Old Password</label>
						<input id="id_old_password" class="victext-input vic-block full-width" type="password" name="old_password">
					</div>
					<div class="form-group">
						<label for="id_new_password1">New Password</label>
						<input id="id_new_password1" class="victext-input vic-block full-width" type="password" name="new_password1">
						<small id="password1HelpBlock" class="form-text text-muted">
							<ul>
								<li>Your password can't be too similar to your other personal information.</li>
								<li>Your password must contain at least 8 characters.</li>
								<li>Your password can't be a commonly used password.</li>
								<li>Your password can't be entirely numeric.</li>
							</ul>
						</small>
					</div>
					<div class="form-group">
						<label for="id_new_password2">New Password Confirmation</label>
						<input id="id_new_password2" class="victext-input vic-block full-width" type="password" name="new_password2">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="vicbtn vicbtn-blue" data-dismiss="modal">Close</button>
					<button type="submit" class="vicbtn vicbtn-green">Change</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
