{% extends "base.html" %}

{% load static %}

{% block title %}
Password recovery
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="custompanel">
	<div class="logoimg">
        <img class="img-responsive" src="{% static 'img/crewlogo.png' %}">
    </div>
    <div class="text">
        <h3>Change password</h3>
    </div>
    <hr>
    {% if validlink %}
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="viclabelline-bottom" for="id_new_password1">New Password</label>
            <input type="password" class="victext-input vic-block full-width" name="new_password1" required id="id_new_password1">
            <small id="password1HelpBlock" class="form-text text-muted">
                <ul>
                    <li>Your password can't be too similar to your other personal information</li>
                    <li>Least 8 characters</li>
                    <li>Can't be entirely numeric</li>
                </ul>
            </small>
        </div>
        <div class="form-group">
            <label class="viclabelline-bottom" for="id_new_password2">Retype New Password</label>
            <input type="password" class="victext-input vic-block full-width" name="new_password2" required id="id_new_password2">
            <small id="password2HelpBlock" class="form-text text-muted">
                Enter the same password as before, for verification.
            </small>
        </div>
        <div id="passwordchecking" style="display:none;" class="alert alert-danger" role="alert"></div>
        <hr>
		<button type="submit" class="vicbtn vicbtn-blue vicbtn-bottom full-width"><strong>Change password</strong></button>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.</p>
    {% endif %}
</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
<script>
$(document).ready(function () {
	 $("#id_new_password1,#id_new_password2").keyup(checkPasswordMatchVer2);
});
</script>
{% endblock %}