{% extends "base.html" %}

{% load static %}

{% block title %}
Password recovery
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="custompanel">
	<div class="logoimg">
    <img class="img-responsive" src="{% static 'img/crewlogo.png' %}">
  </div>
  <div class="text">
		<h3>Password reset</h3>
	</div>
  <hr>
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>
    You should receive them shortly.
    </p>
    <br>
    <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
    </p>
</div>
  
{% endblock %}