{% extends "base.html" %}

{% load static %}

{% block title %}
Password recovery
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="custompanel">
	<div class="logoimg">
    <img class="img-responsive" src="{% static 'img/crewlogo.png' %}">
  </div>
  <div class="text">
		<h3>Password reset</h3>
	</div>
  <hr>
  <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
  <br>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="viclabelline-bottom" for="id_email">Email</label>
      <input type="email" class="victext-input vic-block full-width" name="email" placeholder="Email" autofocus required id="id_email">
    </div>
    <button type="submit" class="vicbtn vicbtn-blue vicbtn-bottom full-width"><strong>Submit</strong></button>
		
  </form>
</div>
  
{% endblock %}