{% extends "base.html" %}

{% load static %}

{% block title %}
Password recovery
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="custompanel">
	<div class="logoimg">
        <img class="img-responsive" src="{% static 'img/crewlogo.png' %}">
    </div>
    <div class="text">
        <h3>Password reset Complete</h3>
    </div>
    <hr>
    <p>
        Your password has been set. You may go ahead and sign in now.
    </p>
    <hr>
    <a class="vicbtn vicbtn-blue full-width" href="{% url 'login' %}">Sign in</a>
</div>
{% endblock %}