{% extends "base.html" %}

{% load static %}

{% block title %}
Apply
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/application.css' %}">
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Application form.</h1>
		<div>
			<button onclick="location.href='{% url 'teams' %}';" class="vicbtn vicbtn-blue">Browse Teams</button>
		</div>
		<div class="custompanel">
			<h3>About applications for diffrent teams.</h3>
			<p>We are working on a feature that lets you send out an diffrent application to each team you select on this page.<br>
			All tho if you want to send an diffrent application to each team just after you have send one application just go back here and make a new one for the next team.</p>
		</div>
		<div class="custompanel">
			<form action="" method="POST">
				{% csrf_token %}
				<input type="hidden" id="id_from_user" name="from_user" value="{{ logged_in_user.pk }}">
				<div id="formapply">
					<div class="form-group ">
						<label>Select teams you want to apply to.</label>
						<select class="teams form-control" name="to_team" required id="id_to_team" multiple="multiple">
							{% for team in teams %}
							<option {% if team.accepts_applications is False %}disabled="disabled"{% endif %} value="{{ team.pk }}">{{ team.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label style="margin-top:15px;" for="application">Wite your application here</label>
						<textarea class="victext-input vic-block full-width" id="id_application_text" name="application_text" rows="6"></textarea>
					</div>
					<button class="vicbtn vicbtn-green" name="sendapplication">Send application</button>
				</div>
		</form>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/application.js' %}"></script>
<script type="text/javascript">
	$('.teams').select2();

	$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip({container:'body'});
	});
</script>
{% endblock %}
