{% extends "base.html" %}

{% load static %}

{% block title %}
Apply
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/application.css' %}">
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Application form.</h1>
		<div>
			<button onclick="location.href='{% url 'teams' %}';" class="vicbtn vicbtn-blue">Browse Teams</button>
		</div>
		<div class="custompanel">
			<div id="formapply">
				<div class="form-group ">
					<label>Select teams you want to apply to.</label>
					<select class="teams form-control" multiple="multiple">
						{% for team in teams %}
						<option {% if team.accepts_applications is False %}disabled="disabled"{% endif %} value="{{ team.pk }}">{{ team.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Send Individual Applications? No/Yes</label>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					</label>
				</div>
				<div class="form-group">
					<label style="margin-top:15px;" for="application">Wite your application here</label>
					<textarea  class="form-control" name="application" rows="3"></textarea>
				</div>
				<button class="vicbtn vicbtn-green" name="sendapplication" onclick="submitapplication()">Send application</button>
			</div>
			<div id="formsend" style="display:none;">
				<h3>Thank you for your application(s)</h3>
				<p>You will get an email ASAP, when teamleader has gone though your application.</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/application.js' %}"></script>
<script type="text/javascript">
	$('.teams').select2();

	$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip({container:'body'});
	});

	function submitapplication() {
			var x = document.getElementById('formapply');
			var sended = document.getElementById('formsend');
			if (x.style.display === 'none') {
					x.style.display = 'block';
			} else {
					x.style.display = 'none';
					sended.style.display = 'block';
			}
	}
</script>
{% endblock %}
