{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#1997c6" />
		<link href="{% static 'css/icons/apple-touch-icon.png' %}" rel="apple-touch-icon" />
		<link href="{% static 'css/icons/apple-touch-icon-152x152.png' %}" rel="apple-touch-icon" sizes="152x152" />
		<link href="{% static 'css/icons/apple-touch-icon-167x167.png' %}" rel="apple-touch-icon" sizes="167x167" />
		<link href="{% static 'css/icons/apple-touch-icon-180x180.png' %}" rel="apple-touch-icon" sizes="180x180" />
		<link href="{% static 'css/icons/icon-hires.png' %}" rel="icon" sizes="192x192" />
		<link href="{% static 'css/icons/icon-normal.png' %}" rel="icon" sizes="128x128" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'css/icons/favicon.ico' %}" />
		<title>
			{% block title %}
			Genki Staff
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		{% if user.is_authenticated %}
			{% if logged_in_user.extendeduser.theme.theme_Name == "Dark" %}
				<link rel="stylesheet" href="{% static 'css/dark.css' %}">
			{% elif logged_in_user.extendeduser.theme.theme_Name == "Light" %}
				<link rel="stylesheet" href="{% static 'css/light.css' %}">
			{% else %}
				<link rel="stylesheet" href="{% static 'css/light.css' %}">
			{% endif %}
		{% else %}
			<link rel="stylesheet" href="{% static 'css/light.css' %}">
		{% endif %}
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		{% block header %}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="mainnavbar">
				<a class="alogo" href="{% url 'index' %}">
					<img class="logob" src="{% static 'img/logo.png' %}">
				</a>
				<div class="navdivlinkscustom">
					<ul class="nav brs aaj">
						{% url 'index' as url_index %}
						<li class="qp">
							<a class="qn navicons {% if request.get_full_path == url_index %} vic-active {% endif %}" href="{% url 'index' %}" title="Dashboard" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-home" aria-hidden="true"></i>
								<small class="brt axz">Dashboard</small>
							</a>
						</li>

						{% url 'teams' as url_teams %}
						<li class="qp">
							<a class="qn navicons {% if request.get_full_path == url_teams %} vic-active {% endif %}" href="{{ url_teams }}" title="Teams" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-book" aria-hidden="true"></i>
								<small class="brt axz">Teams</small>
							</a>
						</li>

						{% for team in thisdoesnotexistplz %}
						<li class="qp">
							<a class="qn navicons" href="/staff/teams/0" title="My Team" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-bookmark" aria-hidden="true"></i>
								<small class="brt axz">My Team</small>
							</a>
						</li>
						{% endfor %}

						{% if user.is_authenticated %}
						{% url 'users' as url_users %}
						<li class="qp">
							<a class="qn navicons {% if request.get_full_path == url_users %} vic-active {% endif %}" href="{% url 'users' %}" title="All users" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-users" aria-hidden="true"></i>
								<small class="brt axz">Users</small>
							</a>
						</li>
						{% endif %}

						{% if user.is_authenticated %}
						{% url 'user' request.user.pk as url_user %}
						<li class="qp">
							<a class="qn navicons {% if request.get_full_path == url_user %} vic-active {% endif %}" href="{{ url_user }}" title="My Profile" data-toggle="tooltip" data-placement="right">
									<img src="{{ logged_in_user.extendeduser.avatar.url }}" alt="Nickname" class="wc">
								<small class="brt axz">Profile</small>
							</a>
						</li>
						{% endif %}

						{% if thisisnotsupposedtoexist %}
						<li class="qp">
							<a class="qn navicons" href="{% url 'index' %}" title="Chaos Settings" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-cogs" aria-hidden="true"></i>
								<small class="brt axz">Settings</small>
							</a>
						</li>
						{% endif %}

						{% if user.is_authenticated %}
						<li class="qp">
							<a class="qn navicons" href="{% url 'logout' %}" title="Log out" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-sign-out" aria-hidden="true"></i>
								<small class="brt axz">Log out</small>
							</a>
						</li>
						{% else %}
						{% url 'login' as url_login %}
						<li class="qp">
							<a class="qn navicons {% if request.get_full_path == url_login %} vic-active {% endif %}" href="{% url 'login' %}" title="Log in" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
								<small class="brt axz">Log in</small>
							</a>
						</li>
						{% url 'register' as url_register %}
						<li class="qp">
							<a class="qn navicons {% if request.get_full_path == url_register %} vic-active {% endif %}" href="{% url 'register' %}" title="Register" data-toggle="tooltip" data-placement="right">
								<i class="fa fa-user-plus" aria-hidden="true"></i>
								<small class="brt axz">Register</small>
							</a>
						</li>
						{% endif %}
					</ul>
				 </div>
			</nav>
		</header>
		{% block content %}
		<section role="content">
			<div class="container">
				<h1 class="line-top">Nothing to see here.</h1>
			</div>
		</section>
		{% endblock %}

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
		<script>
			$(document).ready(function(){
					$('[data-toggle="tooltip"]').tooltip({container:'body'});
			});
		</script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>

{% block modals %}
{% endblock %}
