{% extends "base.html" %}

{% load static %}

{% block title %}
Victory
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Hello {{ user.extendeduser.nickname }}.</h1>
		{% if messages %}
		<div class="alert alert-success" role="alert">
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
		</div>
		{% endif %}
		<div class="custompanel">

			{% if searchfunctionisimplemented %}
			<div style="margin-bottom:10px;">
				<form class="search-width" style="display: inline-flex;" action="search" method="post">
					<input class="victext-input" type="text" placeholder="Search" name="search" value="">
					<button type="submit" class="vicbtn vicbtn-blue vic-bb-3-blue">Search</button>
				</form>
			</div>
			{% endif %}
			{% for article in articles %}
			<div class="post">
				<div class="postinfo">
					<p class="postowner"><a href="{% url 'user' article.author.pk %}">{{ article.author.extendeduser.nickname }}</a><span class="float-right">{{ article.created|date:"F j, Y, H:i"}}</span></p>
					<p class="posttitle line-topsmall">{{ article.title }}</p>
				</div>
				<div class="postcontent">
					{{ article.body|linebreaksbr }}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
