{% extends "base.html" %}

{% load static %}

{% block title %}
Register
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="custompanel">
	<div class="logoimg">
		<img class="img-responsive" src="{% static 'img/crewlogo.png' %}">
	</div>
	<div class="text">
		<h3>Register</h3>
	</div>
	<hr>
	<div>
		{% if form.errors %}
		<div class="alert alert-danger" role="alert">
		  <ul>
		    {% for key,value in form.errors.items %}
		      <li>{{ key|escape }} : {{ value|escape }}</li>
		    {% endfor %}
		  </ul>
		</div>
		{% endif %}
		{% if form.errors %}
		<div class="alert alert-danger" role="alert">
		  <ul>
		    {% for key,value in form.errors.items %}
		      <li>{{ key|escape }} : {{ value|escape }}</li>
		    {% endfor %}
		  </ul>
		</div>
		{% endif %}
	<form action="" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label class="viclabelline-bottom" for="id_username">User/nickname</label>
			<input type="text" class="victext-input vic-block full-width" name="username" maxlength="150" autofocus required id="id_username" placeholder="Victory">
			<small id="usernameHelpBlock" class="form-text text-muted">
				50 characters or fewer. Letters, digits and @/./+/-/_ only.
			</small>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label class="viclabelline-bottom" for="id_first_name">First Name</label>
				<input type="text" class="victext-input vic-block full-width" name="first_name" maxlength="30" required id="id_first_name" placeholder="Peter">
			</div>
			<div class="form-group col-md-6">
				<label class="viclabelline-bottom" for="id_last_name">Last Name</label>
				<input type="text" class="victext-input vic-block full-width" name="last_name" maxlength="30" required id="id_last_name" placeholder="Petersen">
			</div>
		</div>
		<div class="form-group">
			<label class="viclabelline-bottom" for="id_email">Email</label>
			<input type="email" class="victext-input vic-block full-width" name="email" maxlength="254" required id="id_email" placeholder="Email@example.dk">
		</div>
		<div class="form-group">
			<label class="viclabelline-bottom" for="id_phone_number">Phone (Mobile with countrycode)</label>
			<input type="tel" class="victext-input vic-block full-width" name="phone_number" maxlength="16" required id="id_phone_number" placeholder="+4512345678">
			<small id="phone_numberHelpBlock" class="form-text text-muted">
					Used to contact you and also for 2 factor authentication.
			</small>
		</div>
		<div class="form-group">
			<label class="viclabelline-bottom" for="id_postal_code">Postal code</label>
			<input type="text" class="victext-input vic-block full-width" name="postal_code" maxlength="10" required id="id_postal_code" placeholder="1577">
		</div>
		<hr>
		<div class="form-group">
			<label class="viclabelline-bottom" for="id_password1">Password</label>
			<input type="password" class="victext-input vic-block full-width" name="password1" required id="id_password1">
			<small id="password1HelpBlock" class="form-text text-muted">
				<ul>
					<li>Your password can't be too similar to your other personal information</li>
					<li>Least 8 characters</li>
					<li>Can't be entirely numeric</li>
				</ul>
			</small>
		</div>
		<div class="form-group">
			<label class="viclabelline-bottom" for="id_password2">Retype Password</label>
			<input type="password" class="victext-input vic-block full-width" name="password2" required id="id_password2">
			<small id="password2HelpBlock" class="form-text text-muted">
				Enter the same password as before, for verification.
			</small>
		</div>
		<div id="passwordchecking" style="display:none;" class="alert alert-danger" role="alert"></div>
		<hr>
		<button type="submit" class="vicbtn vicbtn-blue vicbtn-bottom full-width"><strong>Register</strong></button>
		<a href="{{ request.META.HTTP_REFERER }}" class="vicbtn vicbtn-red full-width" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
	</form>
	<hr>
	<p class="text-center uppercase">Copyright Genki 2017-2018 - IMAGE BY: <a href="#">MSV-FOTO</a></p>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script>
$(document).ready(function () {
	 $("#id_password1,#id_password2").keyup(checkPasswordMatch);
});
</script>
{% endblock %}
