{% extends "base.html" %}

{% load static %}

{% block title %}
Register - Chaos, Genki
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/croppie.css' %}" />

{% endblock %}

{% block content %}
<div class="custompanel">
	<div class="logoimg">
		<img class="img-responsive" src="{% static 'img/crewlogo.png' %}">
	</div>
	<div class="text">
		<h3>Avatar</h3>
	</div>
	<hr>
	<div id="item" >
	</div>
	<hr>
	<p class="text-center uppercase">Copyright Genki 2017-2018 - IMAGE BY: <a href="#">MSV-FOTO</a></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/croppie.js' %}"></script>
<script>
	var el = document.getElementById('item');
	var vanilla = new Croppie(el, {
		viewport: { width: 200, height: 200 },
		boundary: { width: 300, height: 300 },
		showZoomer: true,
		enableOrientation: false
	});
	vanilla.bind({
		url: '{% static "img/teambg/18plus.jpg" %}'
	});
</script>
{% endblock %}
