{% extends "base.html" %}

{% load static %}

{% block title %}
Teams - Chaos, Genki
{% endblock %}

{% block content %}
<section role="content">
  <div class="container">
    <h1 class="line-top">Teams.</h1>
    <div>
      <button onclick="location.href='list';" class="listteams">List teams</button>
      <input class="searchbar" type="text" placeholder="Search" name="search" value="">
      <button class="searchsubmit">Search</button>
    </div>
    <div class="custompanel">
      <div class="team">
        <div class="bgbox bgbox--browse">
          <div class="banner banner--scaled">
            <div class="banner" style="background-image: url('{% static 'img/teambg/18plus.jpg' %}')"></div>
            <div class="banner-shade banner-shade--darker"></div>
          </div>
          <div class="cl-white">
            <div class="details-box clearfix">
              <a href="/staff/teams/0">
                <img class="artwork" src="{% static 'img/teamlogo/18pluslaunge.png' %}">
                <h2>18+ Launge</h2>
              </a>
              <h3>Team Leader: <a href="/staff/users/0"><u>Alexander Holtz</u></a></h3>
              <label>People Needed: 3/3</label>
              <label>Base Requirements: 18 years or older, ready to work up to 14 hours</label>
            </div>
          </div>
        </div>
      </div>
      <div class="team">
        <div class="bgbox bgbox--browse">
          <div class="banner banner--scaled">
            <div class="banner" style="background-image: url('{% static 'img/teambg/alpacalounge.jpg' %}')"></div>
            <div class="banner-shade banner-shade--darker"></div>
          </div>
          <div class="cl-white">
            <div class="details-box clearfix">
              <a href="/staff/teams/0">
                <img class="artwork" src="{% static 'img/teamlogo/alpacalogo.png' %}">
                <h2>Alpaca Lounge (kiosk)</h2>
              </a>
              <h3>Team Leaders: <u>Mathias Thorsen</u> & <u>Alta Recinella</u></h3>
              <label>People Needed: 20/20</label>
              <label>Base Requirements: A good application</label>
            </div>
          </div>
        </div>
      </div>
      <div class="team">
        <div class="bgbox bgbox--browse">
          <div class="banner banner--scaled">
            <div class="banner" style="background-image: url('{% static 'img/teambg/cinemabg.jpg' %}')"></div>
            <div class="banner-shade banner-shade--darker"></div>
          </div>
          <div class="cl-white">
            <div class="details-box clearfix">
              <a href="/staff/teams/0">
                <img class="artwork" src="{% static 'img/teamlogo/cinemalogo.png' %}">
                <h2>Cinema</h2>
              </a>
              <h3>Team Leader: <u>Mark Ambrodji</u></h3>
              <label>People Needed: 3/3</label>
              <label>Preffered: 18+</label>
            </div>
          </div>
        </div>
      </div>
      <div class="team">
        <div class="bgbox bgbox--browse">
          <div class="banner banner--scaled">
            <div class="banner" style="background-image: url('{% static 'img/teambg/cosplaybg.jpg' %}')"></div>
            <div class="banner-shade banner-shade--darker"></div>
          </div>
          <div class="cl-white">
            <div class="details-box clearfix">
              <a href="/staff/teams/0">
                <img class="artwork" src="{% static 'img/teamlogo/defaultlogo.png' %}">
                <h2>Cosplay</h2>
              </a>
              <h3>Team Leaders: <u>David Petersen</u> & <u>Julie Rønberg</u></h3>
              <label>People Needed: 8/10</label>
              <label>Requirements: None</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
