{% extends "base.html" %}

{% load static %}

{% block title %}
Users - Chaos, Genki
{% endblock %}

{% block content %}
<section role="content">
  <div class="container">
    <h1 class="line-top">Users.</h1>
    <div>
      <a href="list" class="vicbtn vicbtn-blue vic-bb-3-blue">List Users</a>
      <form class="search-width" style="display:inline-block;" action="../search" method="post">
        <input class="victext-input" type="text" placeholder="Search" name="search" value="">
        <button type="submit" class="vicbtn vicbtn-blue vic-bb-3-blue">Search</button>
      </form>
    </div>
      <div class="custompanel">
        <div>
          <ul class="usr-list user-list">
            {% for user in users %}
            <li>
              <a class="silent" href="{% url 'user' user.pk %}" title="{{ user.extendeduser.nickname }}">
                <div class="image-wrapper">
                  <img src="{% static 'img/userpreload.png' %}" class="preload">
                  <img src="{{ user.extendeduser.avatar.url }}">
                </div>
                <div class="hover-wrapper">
                  <label class="title one-line-ellipsis">{{ user.extendeduser.nickname }}</label>
                  <label class="title one-line-ellipsis">Phone: {{ user.extendeduser.phone_number }}</label>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
