{% extends "base.html" %}

{% load static %}

{% block title %}
Users - Chaos, Genki
{% endblock %}

{% block content %}
<section role="content">
  <div class="container">
    <h1 class="line-top">Users.</h1>
    <div>
      <a href="list" class="vicbtn vicbtn-blue vic-bb-3-blue">List Users</a>
      <form style="display:inline-block;" action="../search" method="post">
        <input class="victext-input" type="text" placeholder="Search" name="search" value="">
        <button type="submit" class="vicbtn vicbtn-blue vic-bb-3-blue">Search</button>
      </form>
    </div>
      <div class="custompanel">
        <div>
          <ul class="usr-list user-list">
            <li>
              <a class="silent" href="/users/id" title="username">
                <div class="image-wrapper">
                  <img src="../assets/img/userpreload.png" class="preload">
                  <img src="../assets/img/userimg/spooch.jpg?image_width=512">
                </div>
                <div class="hover-wrapper">
                  <label class="title one-line-ellipsis">Alexander "Spooch" Holtz</label>
                  <label class="title one-line-ellipsis">Phone: 12345678</label>
                </div>
              </a>
            </li>
            <li>
              <a class="silent" href="/users/id" title="username">
                <div class="image-wrapper">
                  <img src="../assets/img/userpreload.png" class="preload">
                  <img src="../assets/img/userimg/jesperrisom.jpg?image_width=512">
                </div>
                <div class="hover-wrapper">
                  <label class="title one-line-ellipsis">Jesper "JesperRisom" Risom</label>
                  <label class="title one-line-ellipsis">Phone: 12345678</label>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
