{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#1997c6" />
		<title>Welcome - Chaos, Genki</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
		<script src="https://use.fontawesome.com/9a965477d7.js"></script>
	</head>
	<body style="background-image: url('{% static 'img/bgimg.jpg' %}');">
		<div class="custompanel">
			<div class="logoimg">
				<img class="img-responsive" src="{% static 'img/crewlogo.png' %}">
			</div>
			<div class="text">
				<h3>Please read!</h3>
				<p>
					Genki is an annual three-day Japanese traditional and pop culture convention in Denmark, and we would love for you to help out!<br> <strong>You just have to be 16 years old or older, sign up, and apply for a team!</strong>
				</p>
			</div>
			<hr>
			<div class="buttens text-center">
				<a href="{% url 'login' %}" class="vicbtn vicbtn-blue vicbtn-bottom full-width" role="button">Login</a>
				<a href="{% url 'register' %}" class="vicbtn vicbtn-yellow full-width disabled" role="button">Register</a>
				<hr>
				<p class="text-center uppercase">Copyright Genki 2017-2018 - IMAGE BY: <a href="#">MSV-FOTO</a></p>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/login.js' %}"></script>
	</body>
</html>
