{% extends "base.html" %}

{% load static %}

{% block title %}
Team Settings - Chaos, Genki
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Team Applications for {{ requested_team.name }}.</h1>
		<a href="{% url 'teamsettings_message' requested_team.pk %}" class="vicbtn vicbtn-blue vicbtn-bottom"><i class="fa fa-envelope" aria-hidden="true"></i> Send message</a>
		{% if messages %}
		<div class="alert alert-success" role="alert">
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
		</div>
		{% endif %}
		<ul class="nav nav-tabs" id="teamstab" role="tablist">
			<li class="nav-item">
				<a class="vic-tablink" id="team-settings" href="{% url 'teamsettings_general' requested_team.pk %}">General</a>
			</li>
			<li class="nav-item">
				<a class="vic-tablink" id="team-description" href="{% url 'teamsettings_description' requested_team.pk %}">Description</a>
			</li>
			<li class="nav-item">
				<a class="vic-tablink" id="team-members" href="{% url 'teamsettings_members' requested_team.pk %}">Members</a>
			</li>
			<li class="nav-item">
				<a class="vic-tablink active" id="team-applications"  href="{% url 'teamsettings_applications' requested_team.pk %}">Applications</a>
			</li>
		</ul>
		<div class="custompanel">
			<p>All non-accepted applications are here.<br>
				If u accept an user to the team the user will recieve an email and an SMS with they has been accepted into the team! If a user tho has applied to more than one team, they'd have to logon to confirm the team they wanna join.<br>
			With that said all applications that are accepted you can find <a href="#"><u>By clicking me.(Coming soon.)</u></a></p>
			<hr style="border-color:rgba(0, 0, 0, 0.23);">
		</div>

		{% for apply in applications %}
		{% if apply.accepted or apply.need_info or apply.refused or apply.need_user_accept %}
		{% else %}
		<div class="team bg-shadow">
			<div class="bgbox bgbox--browse">
				<div class="banner banner--scaled">
					<div class="application-shade"></div>
				</div>
				<div class="details-box applicationboxheader clearfix">
					<img class="artwork" src="https://victory.genki.dk/media/users/avatars/23275604_1884047851629934_8465319611201930121_o.jpg">
					<a href="{% url 'user' apply.from_user.pk %}" target="_blank"><h3>{{ apply.from_user.first_name }} "{{ apply.from_user.extendeduser.nickname }}" {{ apply.from_user.last_name }} <i class="fa fa-external-link" aria-hidden="true"></i></h3></a>
					<p><b>Sent:</b> {{ apply.send|date:"F j, Y, H:i"}}</p>
					<p><b>BirthYear:</b> {{ apply.from_user.extendeduser.birthdate|date:"Y"}}
					<p><b>Language:</b> {% for lang in apply.from_user.extendeduser.languages.all %}<span class="application-lang">{{lang.name}}</span>{% endfor %}</p>
					<p><b>Special cons:</b> {% if apply.from_user.extendeduser.special_considerations %}{{apply.from_user.extendeduser.special_considerations}}{%else%}Nothing specified{% endif %}</p>
				</div>
				<div class="application-text w100">
					{{ apply.application_text|linebreaksbr }}
				</div>
				<div class="application-actions">
					<form style="margin-right:2px;" action="{% url 'teamsettings_accept_applications' requested_team.pk %}" method="post">
						{% csrf_token %}
						<input type="hidden" id="id-user" name="user" value="{{apply.from_user.pk}}">
						<button type="submit" class="vicbtn vicbtn-green full-width"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
					</form>
					<form style="margin-right:2px;" action="{% url 'teamsettings_needinfo_applications' requested_team.pk %}" method="post">
						{% csrf_token %}
						<input type="hidden" id="id-user" name="user" value="{{apply.from_user.pk}}">
						<button type="submit" class="vicbtn vicbtn-yellow full-width"><i class="fa fa-question" aria-hidden="true"></i> Need info</button>
						<textarea rows="2" class="victext-input vic-block" id="id_comment" name="comment" placeholder="Write a comment here"></textarea>
					</form>
					<form style="margin-right:2px;" action="{% url 'teamsettings_refuse_applications' requested_team.pk %}" method="post">
						{% csrf_token %}
						<input type="hidden" id="id-user" name="user" value="{{apply.from_user.pk}}">
						<button type="submit" class="vicbtn vicbtn-red full-width"><i class="fa fa-times" aria-hidden="true"></i> Refuse</button>
						<textarea rows="2" class="victext-input vic-block" id="id_comment" name="comment" placeholder="Write a comment here"></textarea>
					</form>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</section>
{% endblock %}
