{% extends "base.html" %}

{% load static %}

{% block title %}
Team Settings - Chaos, Genki
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Team Description for {{ requested_team.name }}.</h1>
		<div class="custompanel">
			{% if messages %}
			<div class="alert alert-success" role="alert">
				{% for message in messages %}
				<p>{{ message }}</p>
				{% endfor %}
			</div>
			{% endif %}
			<ul class="nav nav-tabs" id="teamstab" role="tablist">
				<li class="nav-item">
					<a class="vic-tablink" id="team-settings" href="{% url 'teamsettings_general' requested_team.pk %}">General</a>
				</li>
				<li class="nav-item">
					<a class="vic-tablink active" id="team-description" href="{% url 'teamsettings_description' requested_team.pk %}">Description</a>
				</li>
				<li class="nav-item">
					<a class="vic-tablink" id="team-members" href="{% url 'teamsettings_members' requested_team.pk %}">Members</a>
				</li>
				<li class="nav-item">
					<a class="vic-tablink" id="team-applications"  href="{% url 'teamsettings_applications' requested_team.pk %}">Applications</a>
				</li>
				<li class="nav-item">
					<a class="vic-tablink" id="team-article"  href="#">Article's</a>
				</li>
			</ul>

			<hr style="border-color:rgba(0, 0, 0, 0.23);">
			<p>Everything with a * is required</p>
			<p>You can use basic html for headings and stuff more info will be coming up.</p>
			<hr style="border-color:rgba(0, 0, 0, 0.23);">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label style="margin-top:15px;" for="description">Write your Team description here</label>
					<textarea class="victext-input vic-block full-width" id="id_description" name="description" rows="6">{{ requested_team.description }}</textarea>
				</div>
				<hr style="border-color:rgba(0, 0, 0, 0.23);">
				<button type="submit" class="vicbtn vicbtn-green">Save</button>
			</form>
		</div>
	</div>
</section>
{% endblock %}
