{% extends "base.html" %}

{% load static %}

{% block title %}
Team Settings - Chaos, Genki
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/application.css' %}">
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Team Settings for</h1>
		<div>
			<a href="#" class="vicbtn vicbtn-red vicbtn-bottom"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
		</div>
		<div class="custompanel">
			<p>Everything with a * is required</p>
			<hr style="border-color:rgba(255, 255, 255, 0.23);">

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="teamname">Teamname*</label>
						<input class="victext-input vic-block full-width" type="text" placeholder="Teamname" name="teamname" value="{{ requested_team.name }}">
						<small id="teamnameHelpBlock" class="form-text text-muted">
							 So im sure you have the best team name there is! =)
						</small>
					</div>
					<div class="form-group">
						<label for="people_needed">People Needed*</label>
						<input class="victext-input vic-block full-width" type="number" min="0" placeholder="1" name="people_needed" value="{{ requested_team.people_needed }}">
						<small id="teamnameHelpBlock" class="form-text text-muted">
							 How many people do you need?
						</small>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea rows="4" class="victext-input vic-block full-width" type="text" placeholder="Sometext...." name="description"></textarea>
					</div>
					<div class="form-group">
						<label>Accepting applications No/Yes</label>
						<label class="switch">
							<input {% if 'requested_team.accepts_applications' %} checked {% endif %} type="checkbox">
							<span class="slider round"></span>
						</label>
					</div>
				</div>
				<div class="col">
					What to be here...
				</div>
			</div>

			<form action="" method="post">
				<hr style="border-color:rgba(255, 255, 255, 0.23);">
				<button type="submit" class="vicbtn vicbtn-green">Save</button>
			</form>
		</div>
	</div>
</section>
{% endblock %}
