{% extends "base.html" %}

{% load static %}

{% block title %}
Team Settings - Chaos, Genki
{% endblock %}

{% block content %}
<section role="content">
	<div class="container">
		<h1 class="line-top">Team Settings for {{ requested_team.name }}.</h1>
		<a href="{% url 'teamsettings_message' requested_team.pk %}" class="vicbtn vicbtn-blue vicbtn-bottom"><i class="fa fa-envelope" aria-hidden="true"></i> Send message</a>
		{% if messages %}
		<div class="alert alert-success" role="alert">
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
		</div>
		{% endif %}
		<ul class="nav nav-tabs" id="teamstab" role="tablist">
			<li class="nav-item">
				<a class="vic-tablink active" id="team-settings" href="{% url 'teamsettings_general' requested_team.pk %}">General</a>
			</li>
			<li class="nav-item">
				<a class="vic-tablink" id="team-description"  href="{% url 'teamsettings_description' requested_team.pk %}">Description</a>
			</li>
			<li class="nav-item">
				<a class="vic-tablink" id="team-members" href="{% url 'teamsettings_members' requested_team.pk %}">Members</a>
			</li>
			<li class="nav-item">
				<a class="vic-tablink" id="team-applications"  href="{% url 'teamsettings_applications' requested_team.pk %}">Applications</a>
			</li>
		</ul>
		<div class="row">
			<div class="col">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="custompanel no-m-bottom">
						<h3>Settings</h3>
						<hr style="border-color:rgba(0, 0, 0, 1);">
						<div class="form-group">
							<label class="viclabelline-bottom" for="id_name">Team Name</label>
							<input type="text" class="victext-input vic-block full-width" name="name" maxlength="40" required id="id_name" value="{{ requested_team.name }}">
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input id="id_accepts_applications" {% if requested_team.accepts_applications %} checked {% endif %} name="accepts_applications" type="checkbox" class="form-check-input">
								Is the team accepting applications?
							</label>
						</div>
					</div>
					<button type="submit" class="vicbtn vicbtn-green w-100">Save</button>
				</form>
			</div>
			<div class="col">
				<form action="{% url 'teamsettings_logo' requested_team.pk %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="custompanel no-m-bottom">
						<h3>Logo</h3>
						<hr style="border-color:rgba(0, 0, 0, 1);">
						<div class="form-group">
							<div class="setting-user-avatar">
								<img class="user-avatar" src="{{ requested_team.logo.url }}">
							</div>
							<label for="id_logo">Change Team logo image.</label>
							<input id="id_logo" style="color: #000;" class="victext-input vic-block full-width" type="file" name="logo"></input>
							<small id="id_logoHelpBlock" class="form-text text-muted">
								 Current: <a href="{{ requested_team.logo.url }}">{{ requested_team.logo.url }}</a>
							</small>
						</div>
					</div>
					<button type="submit" class="vicbtn vicbtn-green w-100">Save</button>
				</form>
				<form action="{% url 'teamsettings_background' requested_team.pk %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="custompanel no-m-bottom">
						<h3>Background</h3>
						<hr style="border-color:rgba(0, 0, 0, 1);">
						<div class="form-group">
							<div class="setting-user-avatar">
								<img class="user-avatar" src="{{ requested_team.background.url }}">
							</div>
							<label for="id_background">Cover</label>
							<input id="id_background" style="color: #000;" class="victext-input vic-block full-width" type="file" name="background"></input>
							<small id="id_backgroundHelpblock" class="form-text text-muted">
								 Current: <a href="{{ requested_team.background.url }}">{{ requested_team.background.url }}</a>
							</small>
						</div>
					</div>
					<button type="submit" class="vicbtn vicbtn-green w-100">Save</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
