{% extends "base.html" %}

{% load static %}

{% block title %}
{{ requested_team.name }}
{% endblock %}

{% block content %}
<div class="bgbox">
	<div class="banner banner--scaled">
		<div class="banner" style="background-image: url('{{ requested_team.background.url }}')"></div>
		<div class="banner-shade banner-shade--darker"></div>
	</div>
	<section role="content">
		<div class="container">
			<div class="cl-white">
				<div class="details-box clearfix">
					<img class="artwork" src="{{ requested_team.logo.url }}">
					<h1 class="line-topwhite">{{ requested_team.name }}</h1>
					<h3>Team Leader{% if multiple_teamleaders %}s{% endif %}: {{ requested_team.teamleaders_listable }}</h3>
					{% if peopleneededimplemented %}
					<h4>People Needed: {{ requested_team.people_needed }}</h4>
					{% endif %}
					{% if applicationsclosed %}
					<label>This team is full and doesn't accept any more applications at the moment.</label>
					{% else %}
					<br />
					{% endif %}
					<div>
						{% if user.is_authenticated %}
						<a href="{% url 'apply' %}" class="vicbtn vicbtn-green">Apply</a>
						<a href="{% url 'teamsettings' requested_team.id %}" class="vicbtn vicbtn-blue">Edit</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<section role="content">
	<div class="container">
		<div class="custompanel">
			<div>
				<ul class="nav nav-tabs" id="teamstab" role="tablist">
					<li class="nav-item">
						<a class="vic-tablink active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-expanded="true">Description</a>
					</li>
					{% if teamhasmembers %}
					<li class="nav-item">
						<a class="vic-tablink" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users">Users</a>
					</li>
					{% endif %}
				</ul>
				<hr>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
						{{ requested_team.description|safe|linebreaksbr }}
					</div>
					<div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
						Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
