{% extends "base.html" %}

{% load static %}

{% block title %}
{{ requested_team.name }}
{% endblock %}

{% block content %}
<div class="bgbox">
	<div class="banner banner--scaled">
		<div class="banner" style="background-image: url('{{ requested_team.background.url }}')"></div>
		<div class="banner-shade banner-shade--darker"></div>
	</div>
	<section role="content">
		<div class="container">
			<div class="cl-white">
				<div class="details-box clearfix">
					<img class="artwork" src="{{ requested_team.logo.url }}">
					<h1 class="line-topwhite">{{ requested_team.name }}</h1>
					<h3>Team Leader{% if multiple_teamleaders %}s{% endif %}: {{ requested_team.teamleaders_listable }}</h3>
					{% if peopleneededimplemented %}
					<h4>People Needed: {{ requested_team.people_needed }}</h4>
					{% endif %}
					{% if applicationsclosed %}
					<label>This team is full and doesn't accept any more applications at the moment.</label>
					{% else %}
					<br />
					{% endif %}
					<div>
						{% if user.is_authenticated %}
							<a href="{% url 'apply' %}" class="vicbtn vicbtn-green">Apply</a>
						{% endif %}
						{% if caneditteam %}
							<a href="{% url 'teamsettings_general' requested_team.pk %}" class="vicbtn vicbtn-blue">Edit</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<section role="content">
	<div class="container">
		<ul class="nav nav-tabs" id="teamstab" role="tablist">
			<li class="nav-item">
				<a class="vic-tablink active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-expanded="true">Description</a>
			</li>
			{% if teamhasmembers %}
			<li class="nav-item">
				<a class="vic-tablink" id="users-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members">Members</a>
			</li>
			{% endif %}
		</ul>
		<div class="custompanel">
			<div>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
						{{ requested_team.description|safe|linebreaksbr }}
					</div>
					{% if teamhasmembers %}
					<div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
						<div id="rankcolors">
							<div class="p-2 bg-success text-white">Leader</div>
							<div class="p-2 bg-primary text-white">Group Leader</div>
							<div class="p-2 bg-secondary text-white">Normal</div>
						</div>
						<div id="userslist">
							{% for member in requested_team.teammembership_set.all %}
							<div class="listmember {% if member.leader %}memberlsleader{% endif %}">
								<div class="memberinfo">
									<div id="memberimg">
										<img src="{{ member.user.extendeduser.avatar.url }}">
									</div>
									<p>{{ member.user.first_name }} "{{ member.user.extendeduser.nickname }}" {{ member.user.last_name }}</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
